html {
    color: navy;
    background-color: aliceblue;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main img {
  margin: 1em;
}

header, .search-field {
  margin: 2em 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
